{% extends 'layout.html' %}

{% block title %}Client Details{% endblock %}

{% block content %}
<div class="pt-3 mb-3 info-overflow">
        <span>
            <label for="train-select">Choose a train:</label>
            <select name="train" id="train-select" onchange='if(this.value != 0 && this.value != "{{ obj.get_absolute_url }}") { window.location = $(this).val(); }'>
                <option value="{{ obj.get_absolute_url }}" selected disabled>{{ obj }}</option>
                {% for train in trains %}
                    {% if train != obj %}
                        <option value="{{ train.get_absolute_url }}">{{ train }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            {% if request.user != queryset.user %}
                <a href="update" class="btn btn-secondary btn-sm" role="button">Edit train</a>
                <a href="{% url 'client-detail' queryset.id %}create/" class="btn btn-primary btn-sm" role="button">New train</a>
            {% endif %}
        </span>

    <hr>

    <table>
        <tr>
            <th>{{ queryset.name }}</th>
            <th>Package</th>
            <th>Due date</th>
            <th>Payment status</th>
            <th>Amount</th>
        </tr>
        <tr>
            <td>{{ queryset.plan.service }}</td>
            <td>{{ queryset.plan.package }}</td>
            <td>{{ queryset.payment_date|stringformat:"02d" }}/{{ obj.begins_at.initial|date:"m/Y" }}</td>
            <td>{% if obj.payment_status %}Paid out!{% else %}Open payment{%endif%}</td>
            <td>R$ {{ queryset.plan.price }}</td>
        </tr>
    </table>

    <hr>
    
    <table>
        <tr>
            <th>{{ obj.begins_at.get_month }}</th>
            <th>Weekly Use</th>
            <th>Class 1</th>
            <th>Class 2</th>
            {% if queryset.plan.package.month_frequency >= 12 %}
            <th>Class 3</th>
            {% endif %}
            {% if queryset.plan.package.month_frequency >= 16 %}
            <th>Class 4</th>
            {% endif %}
            <th>Week - Start</th>
            <th>Week - End</th>
            <th>Efficiency</th>
        </tr>
        <tr>
            <td>Week 1</td>
            <td>{{ obj.get_week_efficiency.week_1 }}</td>
            <td>{{ obj.get_class1_status_display }}</td>
            <td>{{ obj.get_class2_status_display }}</td>
            {% if queryset.plan.package.month_frequency >= 12 %}
            <th>{{ obj.get_class3_status_display }}</th>
            {% endif %}
            {% if queryset.plan.package.month_frequency >= 16 %}
            <th>{{ obj.get_class4_status_display }}</th>
            {% endif %}
            <td>{{ obj.begins_at.get_weeks.week_1_start }}</td>
            <td>{{ obj.begins_at.get_weeks.week_1_end }}</td>
            <td>{{ obj.get_month_efficiency }}</td>
        </tr>
        <tr>
            <td>Week 2</td>
            <td>{{ obj.get_week_efficiency.week_2 }}</td>
            <td>{{ obj.get_class5_status_display }}</td>
            <td>{{ obj.get_class6_status_display }}</td>
            {% if queryset.plan.package.month_frequency >= 12 %}
            <th>{{ obj.get_class7_status_display }}</th>
            {% endif %}
            {% if queryset.plan.package.month_frequency >= 16 %}
            <th>{{ obj.get_class8_status_display }}</th>
            {% endif %}
            <td>{{ obj.begins_at.get_weeks.week_2_start }}</td>
            <td>{{ obj.begins_at.get_weeks.week_2_end }}</td>
        </tr>
        <tr>
            <td>Week 3</td>
            <td>{{ obj.get_week_efficiency.week_3 }}</td>
            <td>{{ obj.get_class9_status_display }}</td>
            <td>{{ obj.get_class10_status_display }}</td>
            {% if queryset.plan.package.month_frequency >= 12 %}
            <th>{{ obj.get_class11_status_display }}</th>
            {% endif %}
            {% if queryset.plan.package.month_frequency >= 16 %}
            <th>{{ obj.get_class12_status_display }}</th>
            {% endif %}
            <td>{{ obj.begins_at.get_weeks.week_3_start }}</td>
            <td>{{ obj.begins_at.get_weeks.week_3_end }}</td>
        </tr>
        <tr>
            <td>Week 4</td>
            <td>{{ obj.get_week_efficiency.week_4 }}</td>
            <td>{{ obj.get_class13_status_display }}</td>
            <td>{{ obj.get_class14_status_display }}</td>
            {% if queryset.plan.package.month_frequency >= 12 %}
            <th>{{ obj.get_class15_status_display }}</th>
            {% endif %}
            {% if queryset.plan.package.month_frequency >= 16 %}
            <th>{{ obj.get_class16_status_display }}</th>
            {% endif %}
            <td>{{ obj.begins_at.get_weeks.week_4_start }}</td>
            <td>{{ obj.begins_at.get_weeks.week_4_end }}</td>
        </tr>
    </table>
    <hr>
    <div class="train-observations">
        <p class="text-left"><b>OBSERVATIONS</b></p>
        <p class="text-left">{% if obj.observations %}{{ obj.observations }}{% else %}-{% endif %}</p>
    </div>
</div>
{% endblock %}