{% extends 'layout.html' %}

{% block title %}My Clients{% endblock %}

{% block content %}
<div class = "form-register pt-3">
    <table>
        <tr>
            <th><h1 class="h3 mb-3 font-weight-normal">My clients</h1></th>
        </tr>
        {% if clients %}
        {% for client in clients %}
        <tr>
            <td><a href="{{ client.get_absolute_url }}">{{ client.id }} | {{ client.name }}</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>You don't have any clients.</td>
        </tr>
        {% endif %}
    </table>
    <p><a class="btn btn-primary mt-3" href="{% url 'client-create' %}" role="button">New Client</a></p>
</div>
{% endblock %}