{% extends 'layout.html' %}

{% block title %}Client Details{% endblock %}

{% block content %}
<div class="pt-3 mb-3 info-overflow">
    <table>
        <tr>
            <th>{{ queryset.name }}</th>
            <th>User's email</th>
            <th>Package</th>
            <th>Due date</th>
            <th>Monthly payment</th>
            <th></th>
        </tr>
        <tr>
            <td>{{ queryset.plan.service }}</td>
            <td>
                {% if queryset.user %}
                    {{ queryset.user.email }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ queryset.plan.package }}</td>
            <td>{{ queryset.payment_date|stringformat:"02d" }}</td>
            <td>R$ {{ queryset.plan.price }}</td>
            <td>
                {% for group in user.groups.all %}
                    {% if group.name == 'personal_trainer' %}
                    <a class="btn btn-secondary btn-sm" href="{% url 'client-edit' queryset.id %}" role="button">Edit</a>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    </table>

    <hr>

    <label for="train-select">Choose a train:</label>
    <select class="mt-3" name="train" id="train-select" onchange='if(this.value != 0) { window.location = $(this).val(); }'>
        <option value="" selected disabled>--Please choose a train--</option>
        {% for train in trains %}
        <option value="{{ train.get_absolute_url }}">{{ train }}</option>
        {% endfor %}
    </select>
    <p class="mt-3"> or create 
    {% for group in user.groups.all %}
        {% if group.name == 'personal_trainer' %}
        <a class="btn btn-primary btn-sm" href="{% url 'client-detail' queryset.id %}create/" role="button">New train</a>
        {% endif %}
    {% endfor %}
    </p>
</div>
{% endblock %}