{% extends 'layout.html' %}

{% block title %}My Clients{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>My clients</th>
        </tr>
        {% if clients %}
        {% for client in clients %}
        <tr>
            <td><a href="{{ client.get_absolute_url }}">{{ client.id }} | {{ client.name }}</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>You don't have any clients.</td>
        </tr>
        {% endif %}
    </table>
    <p><a class="btn btn-primary" href="{% url 'client-create' %}" role="button">New Client</a></p>
{% endblock %}