html
{
    height: 100%;              /* for the page to take full window height */
    box-sizing: border-box;    /* to have the footer displayed at the bottom of the page without scrolling */
}

*,
*:before,
*:after
{
    box-sizing: inherit;       /* enable the "border-box effect" everywhere */
}

body
{
    position: relative; /* for the footer to move with the page size */
    min-height: 100%; /* for the footer to be at the bottom */
    padding-bottom: 6rem; /* Space available between last element and bottom border of the page */
}

footer
{
    background-color: #f8f9fa;
    padding: 20px 0 10px;
    position: fixed; /* fixed to the bottom and always on screen */
    left: 0;
    bottom: 0; /* so the footer can stick to the bottom*/
    width: 100%;
    text-align: center;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}

nav .navbar-brand .red
{
    color: #ea433b;
}

nav .navbar-brand .yellow
{
    color: #f5b82e;
}

nav .navbar-brand .green
{
    color: #185d49;
}

nav .navbar-brand .light-green
{
    color: #bee2e4;
}

nav .navbar-brand .gray
{
    color: #23262e;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;

    /* Eu adicionei para a imagem ficar inteira na tela */
    max-height: 400px;
}

table
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th
{
    border-width: 1px 0px;
    border-style: solid;
    border-color: #dee2e6;
    text-align: center;
    padding: 8px;
    vertical-align: middle;
}

tr:nth-child(even)
{
    background-color: #f8f9fa;
}

tr:last-child.total td
{
    font-weight: bold;
    border-bottom-style: none;
}

tr:last-child.total
{
    background-color: transparent;
}

tr th
{
    border-top-style: none;
}

input[type='number']
{
    width: 101px;
}

li a
{
    padding-left: 8px;
}

h2
{
    padding: 25px 15px 15px;
}

.dots
{
    width: 45px;
}

.vl
{
    border-left-width: 3px;
    border-left-style: solid;
    height: 50px;
    padding: 1;
    margin: 0 20px;
}

small
{
    display: inline-block;
    width: 210px;
}

.pagination,
.first-row
{
    padding-top: 20px;
}

.train-observations
{
    display: block;
    height: auto;
}

.train-observations textarea
{
    width: 100%;
}